@import "bootstrap-utilities.css";
@import "bootstrap-grid.css";
html,
body,
#app,
.app-body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  scroll-behavior: smooth;
  background-color: #f8f8f8;
}
html ::selection,
body ::selection,
#app ::selection,
.app-body ::selection {
  color: white;
  background-color: rgba(1, 81, 255, 0.507);
}
:root {
  --header-height: 48px;
  --footer-height: 64px;
}
@media screen and (max-width: 1000px) {
  :root .user-menus-wrapper {
    width: 100%;
  }
}
@media (min-width: 992px) {
  :root .page {
    width: 1000px;
  }
  :root .page-lg {
    width: 1400px;
  }
}
pre.code {
  background-color: ghostwhite;
  border: 1px solid #e2e2e2;
  padding: 8px;
  border-radius: 4px;
  max-height: 100vh;
  overflow: auto;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.slide-enter-active {
  transition: all 1s ease;
  opacity: 0;
}
.slide-enter-to {
  transition: all 1s ease;
  opacity: 1;
}
.page,
.page-lg {
  width: 100%;
  margin: 0 auto;
  margin-top: 24px;
}
.text-secondary.sm {
  font-size: 12px;
}
